<configuration>

    <property name="LOG_PATH" value="${LOG_PATH:-/logs}" />

    <!-- Console appender for all environments -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for stage environment -->
    <appender name="FILE_STAGE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rotation and time-based file naming pattern -->
            <fileNamePattern>${LOG_PATH}/stage/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Set maxHistory to define the number of days to retain logs -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for prod environment -->
    <appender name="FILE_PROD" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rotation and time-based file naming pattern -->
            <fileNamePattern>${LOG_PATH}/prod/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Set maxHistory to define the number of days to retain logs -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <springProfile name="stage">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_STAGE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_PROD" />
        </root>
    </springProfile>

</configuration>
